@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

* {
  font-family: PT Sans;
}

.ContenedorImagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContenedorForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

#MainImage {
    width: 50wv;
    height: 50vh;
}

#MainContainer {
    margin-top: 2rem;
     display: none;
}

#GraficoCanvas {
    margin-top: 2rem;
    height: 50vh; 
    width: 50vw;

}